.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* nav styling */

.nav-item{
  background-color: #4287F5;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  height:140px;

}



.navimage{
  position: absolute;
  top: 0;
  height: 170px;
  margin-left: 30px;
}

.nav-item a{
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 20px;
  flex-wrap: wrap;
  align-content: flex-end;
  height:140px;
  margin-right: 14px;
}

.nav-item a:hover{
  color: white
}

/* Calendar */

.booking-calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.centered-calendar {
  max-width: 400px; /* Set a maximum width for the calendar if needed */
  width: 100%;
}
#contact-title{
  padding-top: 4vh;
}
#contact-details{

  display:flex;
  text-align:start;
  justify-content:space-evenly;
  height: 30vh;
  float:inherit;
  img{max-width:4vh};
  padding-top: 3vh;
  padding-bottom: 0vh;
  margin-bottom: 0vh;
  
  

}

/* maybe the following social media class name specific stlying is not needed */
#social-media-section{
  display:flex;
  
  
}

#social-media-instagram{
  display:flex;
  padding:1vh;

  
}

#social-media-facebook{
  display:flex;
  align-content: center;
  justify-content: space-evenly;
  padding: 1vh

  
}

#instagram-tag{
  display:flex;
  align-items: flex-end;
  padding-left:1vh;
}

#facebook-name{
  display:flex;
  align-items: flex-end;
  padding-left:1vh
  
}

.custom-border{
  border: 3px solid steelblue;
  padding: 1vh;
  margin-bottom: 5vh;
}

.custom-container{
  
  max-width: 40vh;
  max-height: 80vh;
  

}

.form-group label {
  
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-bottom: 8px;
}

.divider{
  border-bottom:0.5vh solid steelblue;
  margin: 1% 5% 3%;}

.mail-icon{
  max-width: 5vh;
  padding-bottom:2vh;

}

/*Main styling */
/* main {
  padding-bottom: 200px; Add padding to the bottom to accommodate the footer
  box-sizing: border-box; Ensure padding is included in the total height
} */

/* Added a class to the main container to separate the content from the footer */
.main-container {
  min-height: calc(100vh - 200px); /* Adjusted to consider the footer height */
  position: relative;
}

/* Footer styling */
footer {
  background-color: #4287F5;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 250px;
  /* padding-bottom: 5px; */
  bottom: 0px;
  /* display: flex; */
  flex-direction: row; /* Adjusted to horizontal layout */
  justify-content: space-evenly; /* Spread items evenly */
  /* align-items: center; (maybe don't need this either */

}



/* Test above code and try to sort footer issues with the above and added main container styling. If still having issues add individual padding */
/* Add padding to the individual footer items for better spacing */
/* #contact-title,
#contact-details,
#social-media-section {
  padding: 10px; /* Adjust as needed */


/* Footer styling */
/* footer {
  background-color: #4287F5;
  color: white;
  text-align: center;
  text-size-adjust: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 200px;
  display: flex;

} */
