.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* nav styling */

.nav-item{
  background-color: #4287F5;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 100%;
  height:140px;

}



.navimage{
  position: absolute;
  top: 0;
  height: 170px;
  margin-left: 30px;
}

.nav-item a{
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 20px;
  flex-wrap: wrap;
  align-content: flex-end;
  height:140px;
  margin-right: 14px;
}

.nav-item a:hover{
  color: white
}

/* Calendar */

.booking-calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the height to 100% of the viewport height */
}

.centered-calendar {
  max-width: 400px; /* Set a maximum width for the calendar if needed */
  width: 100%;
}
#contact-title{
  padding-top: 4vh;
}
#contact-details{

  display:flex;
  text-align:start;
  justify-content:space-evenly;
  height: 30vh;
  float:inherit;
  img{max-width:4vh};
  padding-top: 3vh;
  padding-bottom: 0vh;
  margin-bottom: 0vh;
  
  

}
#social-media-section{
  display:flex;
  
  
}

#social-media-instagram{
  display:flex;
  padding:1vh;

  
}

#social-media-facebook{
  display:flex;
  align-content: center;
  justify-content: space-evenly;
  padding: 1vh

  
}

#instagram-tag{
  display:flex;
  align-items: flex-end;
  padding-left:1vh;
}

#facebook-name{
  display:flex;
  align-items: flex-end;
  padding-left:1vh
  
}

.form{
  margin:0;
  padding:0;
  
}

/* .custom-border{
  border: 3px solid steelblue;
  padding: 10vh;
  margin-bottom: 5vh;
} */

.custom-container{
  
  max-width: 50vh;
  max-height: 75vh;


  

}

.form-group label {
  font-size: 1.5vh;
  font-weight: 500;
  color: #333;
  margin-bottom: 0.5vh;
  
  
}

textarea{
  min-width:265px;
}

.divider{
  border-bottom:0.5vh solid steelblue;
  margin: 1% 5% 3%;}

.contact-form-section{
  display:flex;
  justify-content:space-evenly;
  
}
.mail-icon{
  max-width: 65vh;
  max-height: 30vh;
  padding-top:10vh;
  padding-left:350vh;
  display:flex;
  padding-left:15vh;
  

}

.contact-form-subtitle{
  padding: 14vh 8vh;
  text-align: start;
  padding-right: 0vh;
}

.contact-form-subtitle-2{
  padding-left:1.5vh;
}

@media (max-width:1920px) {
  #contact-page{
    width: 100%;
    min-width: 900px;
  }
}